@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300&family=Quicksand:wght@300;500&family=Raleway:wght@100;300&family=Roboto:wght@100;400&display=swap');

.main-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.2em;
    font-family: sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    min-width: 800px;
    border-radius: 10px 10px 5px 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.main-table tr th {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

.main-table th
.main-table td {
    padding: 12px 15px;
    word-spacing: normal;
}

.main-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.main-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.main-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

#table-head {
    text-align: center;
}

div {
    font-family: Quicksand;
    text-align: center;
}

p {
    font-family: sans-serif;
    font-size:small;
}
